// .sidenav{
//     background-color: #0D98BA;
// }



// @media screen and (max-width: 670px){
//     .sidenav{
//       display: none;
//     }
//   }

.menu{
  background-color: #0D98BA;
  color: white;
  font-weight: bold;
}
.drawer{
  width: 13%;
}