<nav class="navbar navbar-light bg-light shadow">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/explore']">
            <img src="https://cdn.discordapp.com/attachments/988341830074638408/1014491385086361621/Group_7_3.png" alt="" width="60" height="40" class="d-inline-block align-text-top">
        </a>
        <form class="d-flex ">
            <a class="nav-link active me-3" aria-current="page" [routerLink]="['/auth/login']" routerLinkActive="router-link-active">LOGIN</a>
        </form>
    </div>
</nav>