.container {
    margin-top: 0.3%;
}

.menu {
    background-color: #0D98BA;
    color: white;
    font-weight: bold;
}

ul .sides-menu {
    margin-top: 20px;
    padding-top: 5px;
}

ul .m {
    margin-top: 15vh;
}

ul .logout {
    position: absolute;
    bottom: 0%;
}

.h {
    margin-left: -1px;
}