
<section class="vh-100 " style="background-color: #F3F2F2;">
  <div class="container d-flex  align-items-center justify-content-center vh-100 w-100 ">
    <div class="container column d-flex flex-column  align-items-center ">
      <!-- logi insertation -->
      <div class="header">
        <h4>Set New Password</h4>
      </div>
      <div class="col-12 col-md-8 col-lg-6 col-xl-7 mt-16">
        <div class="card bg-white text-black" style="border-radius: 1rem;">
          <div class="card-body p-5 ">
            <!-- declare formGroup and call onSubmit function from the ts  -->
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-group mb-md-1 mt-md-1 pb-5">
                <!-- Employee number input -->
                <div class="form-group form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX">Password</label>
                  <input placeholder="******" formControlName="password" type="password" id="employee-number"
                    class="form-control form-control-lg"
                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                  <!-- employee number validations -->
                  <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">Employee number is required</div>
                    <div *ngIf="f['password'].errors['minlength']">Employee number must be at least 4 characters</div>
                    <div *ngIf="f['password'].errors['maxlength']">Employee number must not exceed 6 characters</div>
                    <div *ngIf="f['password'].dirty && f['password'].errors">Minimun of 4 characters is required.</div>
                  </div>
                </div>

                <!-- password input -->
                <div class="form-group form-outline form-white mb-4">
                  <label class="form-label" for="typePasswordX">Confirm Password</label>
                  <input placeholder="*****" formControlName="confirm" type="password" id="Password"
                    class="form-control form-control-lg"
                    [ngClass]="{ 'is-invalid': submitted && f['confirm'].errors }" />

                  <!-- password validations -->
                  <div *ngIf="submitted && f['confirm'].errors" class="invalid-feedback">
                    <div *ngIf="f['confirm'].errors['required']">Password is required</div>
                    <div *ngIf="f['confirm'].errors['minlength']">Password must be at least 8 characters</div>
                    <div *ngIf="f['confirm'].errors['maxlength']">Password must not exceed 40 characters</div>
                    <div *ngIf="f['confirm'].dirty && f['confirm'].errors">Minimun of 8 characters is required.</div>
                  </div>
                </div>
                <button class="btn text-white  btn-lg px-5  " type="submit">Set Password</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
